/* Global */
:focus-visible,
:focus{
    outline:unset;
}
.page-content a{
    text-decoration: unset;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s;
    color: #eee !important;
    -webkit-text-fill-color: grey!important;
    -webkit-box-shadow: 0 0 0 1000px var( --e-global-color-f33c269 ) inset !important;
    -webkit-background-clip: text !important;
    background-clip: text !important
}

/*form styles*/
#matchTraderCheckout .step-progress {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
#matchTraderCheckout .step {
    text-align: center;
    flex: 1;
    position: relative;
}
#matchTraderCheckout .step:not(:last-child)::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #dee2e6;
    top: 20px;
    left: 50%;
    z-index: -1;
}
#matchTraderCheckout .step.active:not(:last-child)::before {
    background: #0d6efd;
}
#matchTraderCheckout .step-number {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #dee2e6;
    display: inline-block;
    margin-bottom: 0.5rem;
}
#matchTraderCheckout .step.active .step-number {
    background: #0d6efd;
    color: white;
}
#matchTraderCheckout .step-content {
    display: none;
}
#matchTraderCheckout .step-content.active {
    display: block;
}